body{
    background-color:cornflowerblue;
    font-size: 1em;
}

button{
    background-color:darkslateblue;
    border-radius: 20px;

}

a {
    text-decoration: none !important;
}

li{
    display:inline
}

a:hover{

    background-color:white;


    border-radius: 20px;
}

h1{
    text-align: center;
}

#menu{
    background-color:darkcyan;
    border-radius: 2em;
}

#menu a{
    font-size: 1.8em;
    padding:1em;
    padding-top:0;
    padding-bottom:0;
}